{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<div class="row">
    <div class="col-lg-4 col-6">
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>{{'%02d' %cources}}</h3>
                <p>Courses</p>
            </div>
            <div class="icon">
                <i class="fa fa-address-book"></i>
            </div>
            <a href="/manage-cource" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-4 col-6">
        <div class="small-box bg-primary">
            <div class="inner">
                <h3>{{'%02d' %subject}}</h3>
                <p>Subjects</p>
            </div>
            <div class="icon">
                <i class="fa fa-book"></i>
            </div>
            <a href="/manage-subjects" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-4 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>{{'%02d' %students}}</h3>
                <p>Students</p>
            </div>
            <div class="icon">
                <i class="fa fa-user-graduate"></i>
            </div>
            <a href="/manage-students" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    
</div>
<div class="row">
   
    <div class="col-lg-4 col-6">
        <div class="small-box bg-secondary">
            <div class="inner">
                <h3>{{'%02d' %classes}}</h3>
                <p>Classes</p>
            </div>
            <div class="icon">
                <i class="fa fa-th"></i>
            </div>
            <a href="/manage-classes" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    
    
</div>

{% endblock %}